@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;

}


body{
    background-color: rgb(31, 255, 2);
    color:black;
    font-family: "Playfair Display", serif;
    
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao img{
width: 80%;
}

