@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;

}


body{
    background-color: red;
    color:black;
}
.cabecalho{
    background-color: deeppink;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}